.shg-detail {
  padding: 20px;
}

.member-details {
  margin-top: 20px;
}

.member {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.progress-bars {
  margin-top: 10px;
}

.progress-bar {
  margin-bottom: 10px;
}

.bar {
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease;
}

input[type='number'] {
  width: 60px;
  margin-left: 10px;
}
